* {
  margin, padding: 0;
}

body{
overflow-x: hidden;

}

.planet
{
  background-color: yellow;
  width: 100px;
  height: 100px;
  margin: 10px;
}

/* canvas {
  margin: auto;
  top: 0;
  left: 0;
  position: absolute; */
  /* uncomment next line to position the canvas BEHIND the HTML */
  /* z-index: -1;
} */

iframe
{
    border: none;
    width: 100vw;
    height: 100vh;
    z-index: -99;
    position: fixed;
    left, top: 0;
}
