body{
  background-color: black;

}

.planet
{
  background-color: yellow;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: grid;
}

canvas {
  margin: auto;
  top: 0;
  left: 0;
  position: absolute;
  /* uncomment next line to position the canvas BEHIND the HTML */
  z-index: -1;
}
