body
{
  background-image: url("images/world.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0px;


}

.cloud
{
  height: 30vh;
  width: 80%;
  margin: auto;
}

.cloud.filled
{
  background-color: #f8f8f8;
}

footer
{

}

/* sets canvas to be aligned to top right of screen
position absolute will stop it from scrolling */
canvas {
  margin: 0px;
  top: 0;
  left: 0;
  position: absolute;
  /* uncomment next line to position the canvas BEHIND the HTML */
  /* z-index: -1; */
}
